.a{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	background: aqua;

}
.b{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	background: coral;
	text-align: center;
	font-size: 25px;
}
.c{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	background: yellow;
	padding: 15px;
	box-sizing: border-box;
}
.d{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	background: maroon;
	color: white;
}