*{
	margin-top: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}
header{
	height: 100px;
	width: 100%;
	/*border: 1px solid black;*/
	background: black;
	display: flex;
	position: relative;
	
}
.logo{
	height: inherit;
	width: 35%;
	/*border: 1px solid white;*/
}
header h2{
	color: steelblue;
	font-size: 40px;
	position: absolute;
	left: 10%;
	top: 12px;
}
header h3{
	color: gray;
	position: absolute;
	left: 15%;
	top: 12px;
	font-size: 40px;
}
header h4{
	color: whitesmoke;
	font-size: 18px;
	position: absolute;
	left: 10%;
	top: 55px;
}
nav{
	height: 30px;
	width: 65%;
	/*border: 2px solid whitesmoke;*/
	text-align: center;
	position: absolute;
	top: 52px;
	left: 35%;
	z-index: 2;
	transition: 5s;
} 
#open{
	position: absolute;
	right: 42px;
	font-size: 30px;
	top: 10px;
	display: none;
	color: whitesmoke;
}
#close{
	position: absolute;
	right: 8px;
	font-size: 30px;
	top: 10px;
	display: none;
	color: whitesmoke;
}
nav a{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	margin-top: 70px;
}
nav a:hover{
	background: black;
	box-shadow: 5px 5px 20px 5px slategray;
	font-size: 15px;
}
.icons{
	height: 20px;
	width: 20%;
	/*border: 1px solid white;*/
	position: absolute;
	left: 74%;
	top: -10px;
	color: whitesmoke;
}
.icons a i{
	color: whitesmoke;
	padding: 30px;
}
.name{
	height: 495px;
	width: 35%;
	/*border: 4px solid red;*/
	position: absolute;
	top: 200px;
	left: 80px;
}
.name h1{
	height: 68px;
	width: 100%;
	/*border: 3px solid red;*/
	font-size: 70px;
	position: absolute;
	top: 4%;
}
.name h2{
	height: 54px;
	width: 85%;
	padding-top: 0px;
	/*border: 2px solid red;*/
	position: absolute;
	left: 80px;
	font-size: 55px;
	top: 18%;
	text-align: center;
	font-family: monospace ;
}
.name p{ 
	height: 140px;
	width: 97%;
	left: 2%;
	/*border: 2px solid red;*/
	position: absolute; 
	font-size: 23px; 
	top: 70%;
	padding: 10px;
	 }
.btnmain{
	 /*border: 3px solid red; */
	 height: 43px; 
	 width: 20%;
	 background: black;
 	 display: flex; 
 	 position: absolute; 
	 top: 96%; 
	 left: 95px;
}
.btnmain .btn1{
	/*border: 2px solid white;*/
	width: 86.5%;
	height: 43px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 5px;
}
.btnmain .btn1 a{
	text-decoration: none;
	color: whitesmoke;
	padding: 10px;
	font-size: 19px;

}
.btnmain .btn2{
	height: 43px;
	width: 13.5%;
	/*border: 1px solid white;*/
	text-align: center;
}
.btnmain .btn2 a{
	 text-decoration: none; 
	 color: whitesmoke; 
	 padding: 10px;
	 font-size: 24px; 
} 
section{ 
	height: 140vh;
	width: 100%; 
	/*border: 2px solid red; */
	display: flex; 
	width: 100%;
}
 aside{ 
 	height: 130vh; 
 	width: 32%; 
 	/*border: 2px solid red; */
 	background: lightgray;
 	text-align: center;
} 
form{
	/*border: 2px solid red;*/
	padding: 20px;
	height: 130vh;
	width: 100%;
}
aside h6{
	font-size: 40px;
	margin-top: 30px;
}
.allrdo{
	/*border: 1px solid red;*/
	width: 30%;
	height: 80px;
	position: absolute;
	top: 120%;
	left: 20px;
	font-size: 25px;
	display: flex;
}
.r1{
	/*border: 1px solid red;*/
	height: auto;
	width: auto;
	margin-left: 15%;
	text-align: left;
	line-height: 35px;
	padding: 3px;
}
.r2{
	/*border: 1px solid red;*/
	height: auto;
	width: auto;
	margin-left: 10px;
	text-align: left;
	line-height: 35px;
	padding: 3px;
}
.details{
	height: 400px;
	width: 30%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 20px;
	top: 135%;
	font-size: 18px;
}	
.laput{
	height: 350px;
	width: 70%;
	/*border: 1px solid red;*/
	text-align: left;
	margin-left: 60PX;
}
 #l1 input{
	width: 95%;
	height: 30px;
}
#l2 input{
	width: 95%;
	height: 30px;
}
#l3 input{
	width: 46.6%;
	height: 30px;
}
#l4 input{
	width: 46.6%;
	height: 30px;
}
.laput button{
	background: steelblue;
	color: whitesmoke;
	border: none;
	height: 32px;
	width: 23%;
	position: absolute;
	left: 52%;
	top: 77%;
	font-size: 20px;
	border-radius: 5px;
}
.news{
	height: 300px;
	width: 70%;
	/*border: 2px solid red;*/
	position: absolute;
	left: 13%;
	top: 100%;
	text-align: left;
}
.a1{
	font-size: 20px;
}
.a1 a{
	text-decoration: none;
	color: steelblue;
}
article{
	height: 140vh; 
	width: 68%; 
	/*border: 2px solid red;*/
	padding: 30px;
	position: relative;
}
article h1{
	font-size: 35px;
}
.p1{
	color: steelblue;
	font-size: 20px;
}
.p2 i{
	color: dodgerblue;
}
.p2 h3{
	position: absolute;
	left: 55px;
	top: 26.5%;
}
.p2 p{
	font-size: 20px;
	position: absolute;
	top: 33%;
}
.p2 button{
	float: right;
	margin-top: 13%;
	padding: 8px;
	border-radius: 5px;
	width: 13%;
	background: black;
	color: whitesmoke;
}
.p3{
	position: absolute;
	top: 44%;
	font-size: 20px;
}
.p3 i{
	color: dodgerblue;
}
.p3 h3{
	position: absolute;
	left: 24px;
	top: -1%;
	font-size: 18px;
}
.p3 p{
	margin-top: 2.5%;
}
.p3 button{
	float: right;
	margin-right: 30px;
	padding: 8px;
	background: black;
	color: whitesmoke;
	border-radius: 5px;
	width: 12%;
}
.p4{
	height: 365px;
	width: 95%;
	/*border: 2px solid red;*/
	position: absolute;
	top: 65%;
}
.p5{
	height: 365px;
	width: 60%;
	/*border: 2px solid red;*/
	padding: 10px;
}
.p5 h2{
	font-size: 32px;
}
.p5 p{
	font-size: 20px;
}
.p5 p a{
	color: steelblue;
}
.p6{
	height: 345px;
	width: 32%;
	/*border: 2px solid red;*/
	position: absolute;
	left: 68%;
	top: 8px;
	background: steelblue;
	color: whitesmoke;
}
.p6 p{
	font-size: 20px;
	padding: 25px;
	line-height: 33px;
}
.p6 h5 i{
	position: absolute;
	font-size: 100px;
	opacity: 0.4;
	margin-left: 10px;
}
footer{
	height: 100px;
	width: 100%;
	/*border: 1px solid red;*/
	background: black;
	color: whitesmoke;
	display: flex;
}
.f1{
	margin-top: 40px;
	margin-left: 10%;
}
.f1 p a{
	color: whitesmoke;
}
.f2{
	margin-top: 40px;
	margin-left: 40%;
}
.f2 p a{
	color: whitesmoke;
}
/*<!-- MEDIA QUERY -->*/
@media(max-width: 1400px){
	.name h1{
		font-size: 70px;
		position: relative;
	}
	.name h2{
		font-size: 70px;
		margin-top: 4%;
	}
	.name p{
		font-size: 25px;
	}
	.btnmain{
		width: 25%;
		position: absolute;
		top: 69%;
		left: 3.5%;
	}
	.btnmain .btn1{
		margin-top: 7px;
	}
	aside{
		height: 125vh;
	}
 	aside h6{
 		font-size: 45px;
 		margin-top: -5px;
 	}
 	.allrdo{
 		margin-top: -30%;
 		font-size: 30px;
 		margin-left: -30px;
 	}
 	.details{
 		margin-top: -32%;
 		font-size: 29px;
 		width: 35%;
 		margin-left: -20px;
 	}
 	.details button{
 		margin-top: 31%;
 	}
 	.news{
 		margin-top: 50%;
 		margin-left: -40px;
 		width: 87%;
 	}
 	.news h2{
 		margin-top: -8%;
 		font-size: 50px;
 	}
 	.news .a1{
 		margin-top: -2%;
 		font-size: 25px;
 	}
 	section{
 		height: 125vh;
 	}
 	article .p1{
 		margin-top: -2.5%;
 		font-size: 25px;
 	}
 	.p2 h3{
 		margin-top: -3%;
 		font-size: 28px;
 	}
 	.p2 p{
 		margin-top: -3%;
 		font-size: 25px;
 	}
 	.p2 a button{
 		margin-top: 20%;
 	}
 	.p3{
 		margin-top: -20px;
 	}
 	.p3 h3{
 		font-size: 28px;
 	}
 	.p3 p{
 		font-size: 25px;
 	}
 	.p4{
 		margin-top: -13%;
 	}
 	.p4 .p5 h2{
 		font-size: 35px;
 	}
 	.p4 .p5 p{
 		font-size: 24px;
 	}
 	.p4 .p6{
 		height: 450px;
 	} 
 	.p4 .p6 p{
 		font-size: 25px;
 	}
 	@media(max-width: 1200px){
 		.logo h3{
 			margin-left: 18px;
 		}
 		.icons{
 			display: flex;
 			margin-top: -10px;
 		}
 		.icons a i{
 			font-size: 20px;

 		}
 		.btnmain{
 			margin-top: 9%;
 		}
 		section aside form h6{
 			font-size: 32px;
 			margin-top: -5px;
 		}
 		.allrdo{
 			font-size: 22px;
 			margin-top: -20%;
 		}
 		.details{
 			margin-top: -24%;
 			font-size: 25px;
 		}
 		.details button{
 			margin-top: 21%;
 		}
 		.news{
 			margin-top: 70px;
 		}
 		.p1{
 			margin-top: -29px;
 		}
 		.p2 i{
 			position: absolute;
 			top: 33.8%;
 		}
 		.p2 h3{
 			margin-top: 6.9%;
 		}
 		.p2 p{
 			margin-top: 3%;
 		}
 		.p2 a button{
 			width: 18%;
 			margin-top: 15%;
 		}
 		.p3 button{
 			margin-right: 40px;
 			width: 18%;
 		}
 		.p4 .p5{
 			margin-top: -5%;
 		}
 		.p4 .p5 p{
 			font-size: 21px;
 		}
 		.p4 .p6{
 			margin-top: 20px;
 			height: 360px;
 		}
 		.p4 .p6 p{
 			font-size: 20px;
 		}
	}
	@media(max-width: 1080px){
		.logo h2{
			margin-left: -6%;
		}
		.logo h3{
			margin-left: -3.5%;
		}
		.logo h4{
			margin-left: -6%;
		}
		.icons{
			margin-left: -6%;
			margin-top: -2px;
		}
		nav{
			margin-left: -40px;
			margin-top: 8px;
		}
		nav a{
			padding: 8px;
			font-size: 18px;
		}
		.name p{
			margin-top: -20px;
		}
		.btnmain{
			margin-top: 14%;
			width: 26%;
			margin-left: -12px;
		}
		.btnmain .btn2{
			margin-top: 8px;
		}
		section aside .allrdo{
			margin-top: -17%;
		}
		section aside form h6{
			margin-top: -1px;
			font-size: 28px;
		}
		aside .details{
			margin-top: -20%;
			font-size: 20px;
			margin-left: -40px;
		}
		aside .details button{
			margin-top: 13px;
		}
		aside .news{
			margin-top: 10%;
			font-size: 18px;
			margin-left: 1px;
			width: 75%;
		}
		aside .news .a1{
			font-size: 20px;
		}
		article{
			margin-left: -15px;
			width: 80%;
		}
		article h1{
			margin-top: -25px;
		}
		article .p1{
			margin-top: -4%;
			font-size: 20px;
		}
		article .p2 i{
			margin-top: -14%;
		}
		article .p2 h3{
			margin-top: -5.5%;
		}
		article .p2 p{
			margin-top: -8%;
			width: 91%;
			font-size: 21px;
		}
		article .p2 button{
			margin-top: 16%;
		}
		article .p3{
			margin-top: -15%;
			width: 92%;
		}
		article .p3 button{
			margin-right: 10px;
		}
		article .p3 p{
			font-size: 21px;
		}
		article .p4{
			margin-top: -22%;
		}
		article .p5{
			margin-top: -6%;
		}
		article .p5 p{
			margin-top: -15px;
		}
		article .p4 .p6{
			margin-left: -40px;
		}
		article .p4 .p6 p{
			font-size: 17px;
		}		
	}
	@media(max-width: 992px){
		.logo h3{
			margin-left: -20px;
		}
		.name p{
			font-size: 20px;
		}
		.btnmain{
			margin-top: 12%;
		}
		.btnmain .btn1 a{
			 font-size: 15px;
		}
		section aside form h6{
			font-size: 30px;
		}
		.allrdo{
			margin-top: 10px;
			font-size: 20px;
			margin-left: -25px;
		}
		.details{
			margin-top: -15px;
			margin-left: -30px;
			width: 35%;
		}
		.news{
			margin-left: 10px;
		}
		.news h2{
			font-size: 35px;
		}
		.news .a1 a{
			font-size: 15px;
		}
		article h1{
			margin-top: -20px;
		}
		article .p1{
			margin-top: -25px;
		}
		article .p2 h3{
			margin-top: -25px;
		}
		article .p2 a button{
			margin-top: 17%;
		}
		article .p3 button{
			margin-top: -20px;
		}
		article .p4 .p5{
			margin-top: -16px;
		}
		article .p4 .p5 p{
			font-size: 17px;
		}
		article .p4 .p6{
			width: 38.5%;
			margin-left: -50px;
		}
	}
	@media(max-width: 768px){
		.logo h3{
			margin-left: -2px;
		}
		.icons a i{
			font-size: 18px;
			margin-left: -20px;
		}
		header nav{
			margin-left: 15px;
		}
		header nav a{
			font-size: 15px;
		}
		.name p{
			font-size: 17px;
		}
		.btnmain{
			margin-top: 35%;
		}
		.btnmain .btn1 a{
			font-size: 12px;
		}
		.btnmain .btn2{
			margin-top: 5px;
		}
		.btnmain .btn2 a{
			margin-left: -6px;
		}
		section aside form h6{
			font-size: 22px;
		}
		section aside form .allrdo{
			font-size: 14px;
			margin-top: 3%;
		}
		section aside form .details{
			margin-left: -50px;
			margin-top: 2%;
			font-size: 18px;
		}
		section aside form .details button{
			margin-left: 15px;
			margin-top: -3px;
		}
		section aside form .news{
			margin-top: -15%;	
		}
		.news h2{
			font-size: 28px;
			margin-left: 20px;
		}
		.news .a1 a{
			font-size: 14px;
		}
		article h1{
			font-size: 28px;
		}
		article .p1 p{
			font-size: 15px;
		}
		article .p2 i{
			font-size: 10px;
		}
		article .p2 h3{
			margin-top: -21px;
		}
		article .p2 p{
			font-size: 17px;
		}
		article .p2 a button{
			font-size: 12px;
			width: 24%;
		}
		article .p3 i{
			font-size: 10px;
			margin-top: 11%;
		}
		article .p3 h3{
			margin-top: 8%;
		}
		article .p3 button{
			width: 25%;
			margin-right: 20px;
		}
		article .p3 p{
			font-size: 17px;
			margin-top: 5%;
		}
		article .p4{
			margin-top: -55px;
		}
		article .p4 .p5 h2{
			font-size: 25px;
			margin-top: -20px;
		}
		article .p4 .p5 p{
			font-size: 14px;
			margin-top: -22px;
			padding: 3px;
		}
		article .p4 .p6{
			margin-top: -30px;
			height: 290px;
		}
		article .p4 .p6 p{
			font-size: 11px;
		}
		footer .f1{
			font-size: 11px;
			width: 48%;
			margin-left: 8px;
		}
		footer .f2{
			font-size: 11px;
			width: 40%;
		}
	}
	@media(max-width: 576px){
		.logo{
			position: absolute;
		}
		.logo h2{
			font-size: 30px;
		}
		.logo h3{
			margin-left: 40px;
			font-size: 30px;
		}
		.logo h4{
			font-size: 15px;
			width: 100%;
			margin-top: -10px;
		}
		.icons{
			margin-top: 3%;
			margin-left: -25%;
		}
		.icons a i{
			font-size: 20px;
		}
		#open{
			display: block;
		}
		#close{
			display: block;
		}
		header nav{
			position: absolute;
			border: 2px solid whitesmoke;
			width: 100%;
			left: -590px;
			top: 90%;
			height: auto;
			background-image: linear-gradient(rgba(4, 9, 30, 0.9),rgba(4, 9, 30, 0.9));
		}
		header nav a{
			display: block;
			font-size: 30px;
			padding: 0px;
		}
		header nav a:hover{
			box-shadow: none;
		}
		.name p{
			margin-left: -50px;
			font-size: 17px;
			width: 100%;
		}
		.btnmain{
			margin-top: 46%;
			width: 48%;
			margin-left: 130px;
		}
		section{
			flex-direction: column;
		}
		aside{
			width: 100%;
		}
		section aside form h6{
			font-size: 35px;
		}
		.allrdo{
			width: 100%;
			font-size: 20px;
			margin-left: 45px;
		}
		.allrdo .r1{
			font-size: 20px;
		}
		.allrdo .r2{
			font-size: 20px;
		}
		.details{
			width: 100%;
			margin-left: 100%;
		}
		.laput{
			width: 90%;
			font-size: 20px;
		}
		.details .laput button{
			margin-top: 2%;
		}
		 aside .news{
			margin-left: -5%;
			margin-top: 5%;
			width: 100%;
		}
		.news h2{
			font-size: 30px;
			margin-top: 40px;
			margin-left: 30%;
		}
		.news .a1{
			font-size: 17px;
		}
		article{
			width: 100%;
		}
		article h1{
			text-align: center;
			font-size: 30px;
		}
		article .p2{
			margin-top: 150%;
		}
		article .p2 i{
			margin-top: -8%;
		}
		article .p2 h3{
			margin-top: 8px;
		}
		article .p2 p{
			margin-top: -10px;
		}
		article .p2 a button{
			margin-top: -125%;
		}
		article .p4{
			margin-top: -12%;
		}
		article .p4 .p6{
			margin-top: -1%;
			height: 350px;
		}
		article .p4 .p6 p{
			font-size: 16px;
		}
		footer{
			margin-top: 160%;
			font-size: 20px;
			width: 100%;
		}
		footer .f1{
			font-size: 9px;
			width: 60%;
		}
		footer .f2{
			width: 40%;
			font-size: 10px;
		}
	}
	@media(max-width: 480px){
		header .logo h4{
			font-size: 12px;
		}
		.logo h4{
			font-size: 13px;
		}
		.icons{
			margin-left: -20%;
			margin-top: 11%;
		}
		.icons a i{
			font-size: 16px;
		}
		#open{
			position: absolute;
			right: 13%;
		}
		#close{
			position: absolute;
			right: 5%;
		}
		.name h1{
			margin-left: -30%;
		}
		.name h2{
			margin-left: -45%;
		}
		.name p{
			margin-top: -12%;
			font-size: 15px;
		}
		.btnmain{
			margin-top: 55%;
		}
		aside form .allrdo{
			margin-top: 3%;
			margin-left: 4px;
		}
		aside .details{
			margin-top: -2%;
			margin-left: 1.5%;
		}
		aside .details .laput button{
			margin-top: 13px;
			margin-left: 30px;
		}
		aside .news{
			margin-top: -10%;
			width: 95%;
			margin-left: -18px;
		}
		article{
			height: 140vh;
		}
		article .p1{
			margin-top: -8%;
		}
		article .p4{
			height: inherit;
		}
		article .p2{
			margin-top: 230%;
		}
		article .p2 i{
			margin-top: -25px;
		}
		article .p2 h3{
			margin-top: 25px;
		}
		article .p2 p{
			margin-top: 4%;
		}
		article .p2 a button{
			margin-top: -197%;
		}
		article .p3{
			margin-top: -7%;
		}
		article .p3 button{
			margin-top: 1%;
		}
		article .p4{
			margin-top: 5%;
		}
		article .p4 .p5 p{
			font-size: 16px;
			margin-top: 15px;
		}
		article .p4 .p6{
			height: 410px;
			margin-left: -38px;
			width: 42%;
			margin-top: -15px;
		}
		footer{
			position: absolute;
			top: 280%;
		}
	}