body{
	background: url(ice.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


header{
	height: 70px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;

}
.name{
	height: 40px;
	width: 9.5%;
	border: 4px double black;
	font-size: 30px;
	margin-top: 13px;
	margin-left: 40px;
}
.anchor{
	height: 70px;
	width: 90.5%;
	/*border: 1px solid black;*/
	text-align: right; 
	padding-top: 20px;
	box-sizing: border-box;

}
.anchor a{
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-size: 25px;
	padding: 40px;
	color: black;
	font-weight: bold;
}
h1{
	height: 80px;
	width: 50%;
	/*border: 1px solid black;*/
	margin-top: 12%;
	font-size: 70px;
	margin-left: 27%;
}
.btn{
	height: 40px;
	width: 24%;
	/*border: 1px solid black;*/
	margin-left: 40%;
	margin-top: -2%;
	display: flex;
	justify-content: space-between;
}
.btn button{
	height: 40px;
	width: 47%;
	background: inherit;
	font-weight: bold;

}
